<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="MYSQL_Conection"
		connectionString="7ps06Y91Z5zktPIILmeA6REI1Npvd3NLGbSogN2YKrLDBo+uIIlH0oa2x7HpWkkHfH+zlJl9wNVztRvMz12rZeEZrUiI+Sij4HWxAkyvXK0T1h/sIQRpiw=="/>
  </connectionStrings>
</configuration>